# Medical Insurance Project üè•ü©∫
### Python String Manipulation & Data Analysis

### Beginining String Containing the Medical data on patients. üíä

In [ ]:
medical_data = \
"""Marina Allison   ,27   ,   31.1 , 
#7010.0   ;Markus Valdez   ,   30, 
22.4,   #4050.0 ;Connie Ballard ,43 
,   25.3 , #12060.0 ;Darnell Weber   
,   35   , 20.6   , #7500.0;
Sylvie Charles   ,22, 22.1 
,#3022.0   ;   Vinay Padilla,24,   
26.9 ,#4620.0 ;Meredith Santiago, 51   , 
29.3 ,#16330.0;   Andre Mccarty, 
19,22.7 , #2900.0 ; 
Lorena Hodson ,65, 33.1 , #19370.0; 
Isaac Vu ,34, 24.8,   #7045.0"""

### Data Cleaning üßº - Replacing hashtags with dollar signs.

In [7]:
#Replacing hashtags with dollar signs.

updated_medical_data = medical_data.replace("#", "$")
print(updated_medical_data)

Marina Allison   ,27   ,   31.1 ,
$7010.0   ;Markus Valdez   ,   30,
22.4,   $4050.0 ;Connie Ballard ,43
,   25.3 , $12060.0 ;Darnell Weber
,   35   , 20.6   , $7500.0;
Sylvie Charles   ,22, 22.1
,$3022.0   ;   Vinay Padilla,24,
26.9 ,$4620.0 ;Meredith Santiago, 51   ,
29.3 ,$16330.0;   Andre Mccarty,
19,22.7 , $2900.0 ;
Lorena Hodson ,65, 33.1 , $19370.0;
Isaac Vu ,34, 24.8,   $7045.0

### Data Cleaning üßº - Getting the Number of Records in Dataset containing a dollar sign.

In [8]:
num_records=0
for char in updated_medical_data:
    if char == "$":
        num_records+=1
print("There are " + str(num_records) + " medical records in the data.")

There are 10 medical records in the data.

### List Sorting üìÉ- Create a List by the ";" Delimiter

In [9]:
#Create a List by the ";" Delimiter

medical_data_split = updated_medical_data.split(";")
print(medical_data_split)

['Marina Allison   ,27   ,   31.1 , \n$7010.0   ', 'Markus Valdez   ,   30, \n22.4,   $4050.0 ', 'Connie Ballard ,43 \n,   25.3 , $12060.0 ', 'Darnell Weber   \n,   35   , 20.6   , $7500.0', '\nSylvie Charles   ,22, 22.1 \n,$3022.0   ', '   Vinay Padilla,24,   \n26.9 ,$4620.0 ', 'Meredith Santiago, 51   , \n29.3 ,$16330.0', '   Andre Mccarty, \n19,22.7 , $2900.0 ', ' \nLorena Hodson ,65, 33.1 , $19370.0', ' \nIsaac Vu ,34, 24.8,   $7045.0']

### List Sorting üìÉ- Inserting each Record as it's own List

In [10]:

medical_records=[]
for record in medical_data_split:
    medical_records.append(record.split(','))
print(medical_records)

[['Marina Allison   ', '27   ', '   31.1 ', ' \n$7010.0   '], ['Markus Valdez   ', '   30', ' \n22.4', '   $4050.0 '], ['Connie Ballard ', '43 \n', '   25.3 ', ' $12060.0 '], ['Darnell Weber   \n', '   35   ', ' 20.6   ', ' $7500.0'], ['\nSylvie Charles   ', '22', ' 22.1 \n', '$3022.0   '], ['   Vinay Padilla', '24', '   \n26.9 ', '$4620.0 '], ['Meredith Santiago', ' 51   ', ' \n29.3 ', '$16330.0'], ['   Andre Mccarty', ' \n19', '22.7 ', ' $2900.0 '], [' \nLorena Hodson ', '65', ' 33.1 ', ' $19370.0'], [' \nIsaac Vu ', '34', ' 24.8', '   $7045.0']]

### Data Cleaning üßº - Getting rid of unwanted Characters

In [13]:
medical_records_clean = []
for record in medical_records:
    record_clean=[]
    for item in record:
        record_clean.append(item.strip())
    medical_records_clean.append(record_clean)

print(medical_records_clean)

[['Marina Allison', '27', '31.1', '$7010.0'], ['Markus Valdez', '30', '22.4', '$4050.0'], ['Connie Ballard', '43', '25.3', '$12060.0'], ['Darnell Weber', '35', '20.6', '$7500.0'], ['Sylvie Charles', '22', '22.1', '$3022.0'], ['Vinay Padilla', '24', '26.9', '$4620.0'], ['Meredith Santiago', '51', '29.3', '$16330.0'], ['Andre Mccarty', '19', '22.7', '$2900.0'], ['Lorena Hodson', '65', '33.1', '$19370.0'], ['Isaac Vu', '34', '24.8', '$7045.0']]

In [20]:
#Analyzing the Data - Updating Name String to be uppercase
for record in medical_records_clean:
    record[0] = record[0].upper()
    print(record[0])

MARINA ALLISON
MARKUS VALDEZ
CONNIE BALLARD
DARNELL WEBER
SYLVIE CHARLES
VINAY PADILLA
MEREDITH SANTIAGO
ANDRE MCCARTY
LORENA HODSON
ISAAC VU

### Analyzing the Data üîé - Seperating values into seperate lists

In [26]:
names = []
ages = []
bmis = []
insurance_costs = []

for record in medical_records_clean: #Iterating through Medical_Records_Clean, Appending to Names list
    names.append(record[0])

for record in medical_records_clean: #Iterating through Medical_Records_Clean, Appending to Ages list
    ages.append(record[1])

for record in medical_records_clean: #Iterating through Medical_Records_Clean, Appending to BMI list
    bmis.append(record[2])

for record in medical_records_clean: #Iterating through Medical_Records_Clean, Appending to Insurance Costs list
    insurance_costs.append(record[3])

### Analyzing the Data üîé- Printing each new list to review

In [28]:
print(names)
print(ages)
print(bmis)
print(insurance_costs)

['MARINA ALLISON', 'MARKUS VALDEZ', 'CONNIE BALLARD', 'DARNELL WEBER', 'SYLVIE CHARLES', 'VINAY PADILLA', 'MEREDITH SANTIAGO', 'ANDRE MCCARTY', 'LORENA HODSON', 'ISAAC VU']
['27', '30', '43', '35', '22', '24', '51', '19', '65', '34']
['31.1', '22.4', '25.3', '20.6', '22.1', '26.9', '29.3', '22.7', '33.1', '24.8']
['$7010.0', '$4050.0', '$12060.0', '$7500.0', '$3022.0', '$4620.0', '$16330.0', '$2900.0', '$19370.0', '$7045.0']

### Analyzing the Data üîé - Getting Average BMI

In [32]:
total_bmi = 0
for bmi in bmis:
    total_bmi+=float(bmi) #Converting BMI to a float value

average_bmi = total_bmi / len(bmi)
print("Average BMI: ", average_bmi)

Average BMI:  64.575

### Analyzing the Data üîé - Getting Average Insurance Costs

In [43]:
total_insurance_cost = 0

for cost in insurance_costs:
    total_insurance_cost+=float(cost.strip().lstrip("$")) #Removing dollars and converting to float for average calc.
average_ins_cost = total_insurance_cost / len(insurance_costs)
print("Average Insurance Cost: ", "$"+ str(average_ins_cost))

Average Insurance Cost:  $8390.7

### Formatted the Output. üìä

In [48]:
print("Average BMI: ", average_bmi)
print("Average Insurance Cost: ", "$"+ str(average_ins_cost))
for record in medical_records_clean:
    output = "{name} is {age} years old with a BMI of {BMI} and an insurance cost of {ins_cost}"
    print(output.format(name = record[0].title(), age = record[1], BMI = record[2], ins_cost = record[3]))

Average BMI:  64.575
Average Insurance Cost:  $8390.7
Marina Allison is 27 years old with a BMI of 31.1 and an insurance cost of $7010.0
Markus Valdez is 30 years old with a BMI of 22.4 and an insurance cost of $4050.0
Connie Ballard is 43 years old with a BMI of 25.3 and an insurance cost of $12060.0
Darnell Weber is 35 years old with a BMI of 20.6 and an insurance cost of $7500.0
Sylvie Charles is 22 years old with a BMI of 22.1 and an insurance cost of $3022.0
Vinay Padilla is 24 years old with a BMI of 26.9 and an insurance cost of $4620.0
Meredith Santiago is 51 years old with a BMI of 29.3 and an insurance cost of $16330.0
Andre Mccarty is 19 years old with a BMI of 22.7 and an insurance cost of $2900.0
Lorena Hodson is 65 years old with a BMI of 33.1 and an insurance cost of $19370.0
Isaac Vu is 34 years old with a BMI of 24.8 and an insurance cost of $7045.0